body {
    font: 14px Arial, sans-serif;
}

.header {
    margin-bottom: 20px;
}

input[type=text] {
    width: 100px;
}

input[type=submit] {
    width: 50px;

}

input[type=radio] + input[type=radio] {
    margin-left: 20px;
}